.auth-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-submit{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

.auth-container {
    width: 100%;
    height: 90vh;
    position: relative;
    padding-top: 20px;
}

.auth-link {
    text-decoration: underline;
    font-weight: bold;
    color: #282c34;
    cursor: pointer;
}
.auth-content {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
